<%- include('./layouts/header.ejs') %>
<div class="container space-y-8">
  <div class="space-y-1">
    <h1 class="text-lg text-center"><%= subject %></h1>
    <p class="text-sm text-center">
      Sell products | Buy products | Connect with real people
    </p>
  </div>

  <div class="space-y-1">
    <h3 class="text-md font-500">
      Welcome onboard <span class="capitalize"><%= username %></span>
    </h3>
    <p class="text-sm">
      Welcome to myMarket! We're thrilled to have you on board. To get started,
      please complete your registration by following the simple steps below:
    </p>
  </div>

  <div class="space-y-4">
    <!-- verify your account -->
    <div class="space-y-1">
      <h6 class="text-md font-500">Verify your email address</h6>
      <p class="text-sm">
        Click on the link below to verify your email address and activate your
        account:
        <button class="h-8 px-2 rounded-md bg-primary btn btn--primary">
          <a
            href="<%= verificationUrl %>"
            target="_blank"
            >Verify my account</a
          >
        </button>
      </p>
    </div>

    <!-- complete your profile -->
    <div class="spce-y-2">
      <h6 class="text-md font-500">Complete Your Profile</h6>
      <p class="text-sm">
        Once your email is verified, log in to your account and complete your
        profile. This will help us tailor our services to your needs.
      </p>
    </div>

    <!-- explore myMarket -->
    <div class="space-y-1">
      <h6 class="text-md font-500">Explore myMarket</h6>
      <p class="text-sm">
        Get to know our platform and explore the features that await you.
        Whether it's [highlight a specific feature] or [mention another
        feature], we're here to make your experience exceptional.
      </p>

      <p class="text-sm">
        If you have any questions or encounter any issues during the
        registration process, feel free to reply to this email. Our support team
        is always ready to assist you.
      </p>

      <p class="text-sm">
        Thank you for choosing myMarket
        <span class="capitalize"><%= username %></span> We look forward to
        serving you!
      </p>
    </div>
  </div>
</div>

<%- include('./layouts/footer.ejs') %>
